/2020-2021
/2021-2022
/2022-2023
/2023-2024
/FantaHelp.drawio
/optimal_team.ipynb
/players1-23_24.csv
/squad_sim.py
/StatsQuery.xlsx
/svm_regressor_modelA.pkl
/svm_regressor_modelC.pkl
/svm_regressor_modelD.pkl
/svm_regressor_modelP.pkl
/~$Fantacalcio_Stagione_2022_23.xlsx
/~$Quotazioni_Fantacalcio_Stagione_2023_24.xlsx